
#header {
    border: 1px solid black;
    height: 100px;
    margin-bottom: 20px;
    padding: 30px;
}
 
#main {
    border: 1px solid black;
    height: 500px;
    margin-bottom: 10px;
    background-image: url('./images/1');
    background-size: 100%;
    }
#email1 {
    margin-left: 25px;
}
 label{
    color: aliceblue;
 }

    

#footer {
    background-image: url(./images/2);
    background-size: 30%;
    border: 2px solid black;
    height: 150px;
    margin-bottom: 20px;
    padding: 5px;
}